.linha {
    width: 40%;
    margin: auto;
    opacity: 30%;
}

.titulo {
    text-align: center;
    color: rgb(115, 182, 27);
    font-size: 170%;
    font-family: "Arial Narrow Bold", sans-serif;
}

.dark .titulo {
    color: #d3f7cc;
}

.texto {
    text-indent: 4%;
    padding-right: 8%;
    padding-left: 8%;
    font-size: 120%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.dark .texto {
    color: rgb(205, 211, 203);
}

.conteudo-green {
    background-color: #dbecc4;
}

.dark .conteudo-green {
    background-color: #5a6b42;
}

.img_text {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.dashed-line {
    display: block;
    border: none;
    border-top: 4px dotted #2e9e37;
    opacity: 70%;
    margin-top: -1.3%;
    width: 75%;
    margin-left: auto;
    margin-right: 2%;
}

.quest {
    width: 65%;
}

.dark .dashed-line {
    border-top: 4px dotted #d3ffd1;
}

.title_recomendados {
    font-family: Arial, Helvetica, sans-serif;
    color: #329e2e;
    margin-top: 2%;
    font-size: 200%;
    margin-top: 5%;
    margin-left: 3%;
    font-weight: lighter;
}

.dark .title_recomendados {
    color: #ccf7cc;
}

.container-recomendados {
    margin-top: 4%;
    width: 30%;
    margin-left: 2%;
    display: inline-block;
}

.janela-conteudo {
    border-radius: 30px;
    height: 500px;
    position: relative;
    border: 1px solid #d0dbcf;
    z-index: 0;
}

.gradient-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f7fbff 20%, #287e0d 100%);
    opacity: 80%;
    border-radius: 30px;
}

.dark .gradient-bg {
    background: linear-gradient(to bottom, #586470 20%, #086408 100%);
}

.janela-conteudo img {
    border-radius: 30px;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.janela-conteudo-tag {
    position: relative;
    z-index: 10;
    padding-inline: 15px;
    width: 30%;
    border-radius: 0 25px 25px 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    background: linear-gradient(to bottom, #8dff70 0, #2f9b1a 100%);
    margin-top: -117%;
}

.janela-conteudo-button {
    position: relative;
    z-index: 10;
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(to top, #4af767 0%, #55b42f 100%);
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-weight: bold;
}

.dark .janela-conteudo-button {
    background: linear-gradient(to top, #256e16 0%, #63ee6a 100%);
}

.gradient-bg:hover {
    opacity: 70%;
}

.gradient-bg:hover {
    opacity: 70%;
}

.janela-conteudo-button:hover {
    background: #63ee63;
}

.dark .janela-conteudo-button:hover {
    background: #55ca5b;
}

.janela-titulo {
    margin-top: 50%;
    margin-left: 2%;
    font-size: 170%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.geo {
    margin-top: 47%;
}

.janela-descricao {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #d3f7cc;
    position: relative;
    z-index: 2;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-right: 0%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #4ec23fcc;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 2px;
    background-color: #75af64;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.dots {
    margin-top: -5%;
    position: relative;
    text-align: center;
}

.active,
.dot:hover.active {
    background-color: #c6f1d3;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.img_tam {
    width: 100%;
    height: 500px;
}

@media (max-width: 500px){

    .linha {
        width: 50%;
    }
    
    .titulo {
        font-size: 140%;
    }
  
    
    .texto {
        text-indent: 4%;
        padding-right: 9%;
        padding-left: 9%;
        font-size: 80%;
    }
    
    .img_text {
        margin-top: 5%;
        width: 60%;
    }
    
    .dashed-line {
        border-top: 4px dotted #2e9e37;
        margin-top: -2%;
        width: 55%;
        margin-right: 2%;
    }
    
    .title_recomendados {
        margin-top: 2%;
        font-size: 150%;
        margin-top: 5%;
        margin-left: 3%;
    }
    
    .container-recomendados {
        margin-top: 5%;
        width: 30%;
        margin-left: 2%;
    }
    
    .janela-conteudo {
        border-radius: 30px;
        height: 220px;
    }
    
    .janela-conteudo-tag {
        padding-inline: 15px;
        width: 40%;
        border-radius: 0 25px 25px 0;
        height: 20px;
        font-size: 44%;
        margin-top: -140%;
    }
    
    .janela-conteudo-button {
        width: 60%;
        height: 20px;
        font-size: 50%;
        margin-top: 5%;
    }

    .janela-titulo {
        margin-top: 50%;
        margin-left: 2%;
        font-size: 70%;
    }
    
    .janela-descricao {
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: 45%;
    }
    
    .prev {
        top: 50%;
        margin-top: -22px;
        padding: 16px;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
    }
    
    .next {
        top: 50%;
        margin-top: -22px;
        margin-right: 0%;
        padding: 16px;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
 
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        border-radius: 50%;
    }
    
    .dots {
        margin-top: -10%;
    }

    
    .img_tam {
        width: 100%;
        height: 200px;
    }
    
}