.container-oficinas {
    background-color: #e7ffe0;
    height: 200px;
}

.dark .container-oficinas {
    background-color: #5dad1b;
}

.container-oficinas h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#297715, #7ad346, #354b19);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 6%;
    margin-left: 8%;
    font-size: 250%;
}

.dark .container-oficinas h1 {
    background-image: linear-gradient(#ffffff, #baff9a, #ffffff);

}

.logo-oficinas {
    display: block;
    margin-left: 70%;
    width: 15%;
    margin-top: -9%;
}

.container-oficinas:hover {
    background-color: #dffcc8;
}

.dark .container-oficinas:hover {
    background-color: #2eb41c;
}

.container-oficinas:hover+.logo-oficinas {
    scale: 1.2;
    transition: all 0.2s linear;
}

.logo-oficinas:hover {
    scale: 1.2;
    transition: all 0.2s linear;
}

.gallery {
    margin: 5px;
    border: 1px solid #b2d3aa;
    float: left;
    margin-left: 20px;
    margin-top: 6%;
    width: 30%;
    margin-bottom: auto;
}

.gallery:hover {
    border: 1px solid #6dac5a;
}

.gallery img {
    width: 100%;
}

.gallery a {
    text-decoration: none;
}

.dark .gallery {
    background-color: #bafcbe;
    border: 1px solid #bff8bd;
}

.dark .gallery:hover {
    background-color: #88df8e;
    border: 1px solid #11df0a;
}

.desc {
    padding: 15px;
    text-align: center;
    color: #81c02e;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
    font-weight: bold
}

.dark .desc{
    color: #355739;
}

.back-of {
    margin-top: 75%;
    opacity: 0;
}